.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #225b7c;
    min-height: 100vh;
    padding-top: 80px;
}
.container{
    background-color: white;
    padding: 0, 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

h1{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.3px;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

a{
    color: white;
    text-decoration: none;
}

table{
    margin-top: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown #dropdown{
    margin-left: 20px;
}

.dropdown-menu a {
    color: black;
}
.dropdown-menu a:hover {
    color: rgb(216, 6, 6);
    height: 100%;
    background-color: #f8f9fa;

}
  
.buttons > #save {
    margin-right: 8px;
}
  
button{
    background-color: #225b7c;
    color: aliceblue;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease-in-out;
}

#save, #delete {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    float: right !important;
}

#save:hover, #delete:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#save:hover{
    background-color: #2ca788;
    color: black;
}

#delete:hover{
    background-color: rgb(216, 6, 6);
    color: aliceblue;
}
.table{
    width: 100%;
}
th{
    width: 700px
}

.banned-user {
    text-decoration: line-through;
    color: #6c757d;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
