<div class="parent"> 
    <div class="container" id="container">

        <div class="row w-100">
            <div class="col-6 form-container start-page">
                <form>
                    <div class="text-content">
                        <h1>Welcome to Medical</h1>
                        <p>
                            This website is designed to help you manage your medications easily. You can look up medicines
                            from a trusted database, add the ones you take to your personal schedule, and set reminders so you
                            never miss a dose. A simple calendar view lets you see your medication plan at a glance, making it
                            easier to stay organized and on track with your health.
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="lang">
                            <button>English</button>
                            <button>Magyar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6 form-container sign">
                <form>
                  
                    <div class="form-container sign-in" >
                        <div class="buttons">
                            <div class="move">
                                <button>
                                    <a routerLink="/signin" routerLinkActive="active">Sign in</a>
                                </button>
                                <button>
                                    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
                                </button>
                            </div>                 
                        </div>
                        <div class="s-container">
                            <form>
                                <div class="social-icons">
                                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                                </div>
                                <input type="email" [(ngModel)]="loginModel.email" name="email" placeholder="Email" id="email">
                                <input type="pass" [(ngModel)]="loginModel.password" name="pass" placeholder="Password" id="pass">
                                <a routerLink="/fpass" routerLinkActive="active" id="fpass">Forget Your Password?</a>
                                <button (click)="login()" id="signInButton">Sign In</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


