<div class="parent">
    <div class="container">
        <form>
            <div class="profpic">
                <img id="profilePic" [src]="profilePicUrl" class="profilePic">
                <label for="fileInput" class="upload-icon">+</label>
                <input type="file" id="fileInput" (change)="onFileChange($event)" accept="image/*">
            </div>
            <h1>Profile</h1>
            <input type="text" class="form-control" id="displayName" placeholder="Display Name" [(ngModel)]="user.uname" name="uname">
            <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="user.email" name="email" readonly>
            <button  class="btn btn-sm" id="save" (click)="saveProfile()">Save</button>
            <button  class="btn btn-sm" id="delete" onclick="deleteProfile()">Delete</button>
        </form>
    </div>
</div>

