<div class="parent" *ngIf="isLoggedIn" >     
  <!-- *ngIf="admin?.role === 'admin'" -->
  <nav>
      <h1>Database</h1>
      <button class="btn btn-outline-primary me-3" id="datas">
        <a routerLink="/datas" routerLinkActive="active" class="text-decoration-none">
            <i class="bi bi-capsule"></i> Medications
        </a>
    </button>
      <button class="btn btn-outline-primary me-3" id="users">
        <a routerLink="/users" routerLinkActive="active" class="text-decoration-none">
            <i class="bi bi-person-circle"></i> Users
        </a>
    </button>
    <button class="btn btn-outline-danger me-3" (click)="signOut()" id="signOut">
      <i class="bi bi-box-arrow-right"></i> Sign Out
  </button>
  </nav>
  <div class="container mt-4">
      <form>
          <input id="search" type="text" class="searchbar" placeholder="Search"/>
          <div class="form-group">
              <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="addModel.name" required />
              <input id="substance" name="substance" class="form-control" placeholder="Substance" [(ngModel)]="addModel.substance" required />
              <input id="form" name="form" class="form-control" placeholder="Form" [(ngModel)]="addModel.form" required />
              <button type="submit" (ngSubmit)="addData()" class="btn btn-primary" id="add">+</button>
            </div>
      </form>
  
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Substance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><!-- {{ data.name }} --></td>
              <td><!-- {{ data.substance }} --></td>
              <td>
                <div class="buttons">
                  <button class="btn btn-sm" id="edit">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-sm" id="save">
                    <i class="bi bi-floppy"></i>
                  </button>
                  <button class="btn btn-sm" id="delete">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>