.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #225b7c;
    min-height: 100vh;
    padding-top: 6%;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0;
    background-color: #e0e1dd;
    border-bottom: 5px solid #225b7c;
    border-radius: 25px;
    padding-bottom: 1%;
    width: 100%;
}

table{
    margin-top: 5%;
    width: 100%;
    overflow-x: auto;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchInput{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

form #name,
form #substance,
form #form{
    margin-bottom: 2%;
}
#name, #substance, #form{
    width: 100%;
    max-width: 500px;
    height: 6vh;
    border-radius: 10px;
    border-bottom: 2px solid rgba(34, 91, 124, 0.5);
    transition: all 0.3s ease-in-out;
}
#name:hover, #substance:hover, #form:hover{
    border-color: #225b7c;
    box-shadow: 0 4px 10px rgba(53, 77, 182, 0.2);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons > #edit,
.buttons > #save {
    margin-right: 8px;
}
  
.buttons > #delete {
    margin-left: auto;
    margin-right: 15px;
}
  
button {
    background-color: #225b7c;
    color: aliceblue;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#add, #save, #edit, #delete {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    float: right !important;
}

#search:hover, #add:hover, #edit:hover, #save:hover, #delete:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#edit{
    width: 100%;
    max-width: 120px;
}
#edit:hover{
    background-color: rgb(247, 180, 36);
    color: black;
}
#save{
    width: 100%;
    max-width: 120px;
}
#save:hover{
    background-color: #2ca788;
    color: black;
}
#delete{
    margin-left: 40px;
    width: 120px;
}
#delete:hover{
    background-color: rgb(216, 6, 6);
    color: aliceblue;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
.table{
    width: 100%;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
  
th{
    width: 100%;
    gap: 5%;
}


@media (max-width: 768px) {
    .buttons button {
      font-size: 12px;
      padding: 5px;
      margin: 2px;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    table th, table td {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .buttons button {
      font-size: 10px;
      padding: 3px;
      margin: 1px;
    }
  
    .form-control {
      font-size: 12px;
    }
  
    table th, table td {
      font-size: 12px;
    }
  }