<div class="parent" *ngIf="isLoggedIn">
    <div class="container">
        <h1>
            <button class="btn btn-outline-primary btn-lg me-3" (click)="changeMonth(-1)" id="left">
              <i class="bi bi-chevron-compact-left left"></i>
            </button>
            {{ currentYear }} / {{ currentMonth + 1 }}
            <button class="btn btn-outline-primary btn-lg ms-3" (click)="changeMonth(1)" id="right">
              <i class="bi bi-chevron-compact-right right"></i>
            </button>
        </h1>
  
        <div class="row day-names">
            <div class="col" *ngFor="let day of weekDays">{{ day }}</div>
        </div>
  
        <div class="calendar-grid">
          <div *ngFor="let day of displayedDays" class="calendar-cell">
              <div *ngIf="day !== null"
                      class="day-box"
                      [ngClass]="{'bg-success text-white': isToday(day), 'hover-effect': !isToday(day)}">
                  <div class="day-number">{{ day }}</div>
                  <div *ngIf="getEntriesForDay(day).length > 0">
                      <div *ngFor="let entry of getEntriesForDay(day)" class="med-name">
                          <span *ngIf="!entry.isAppointment" (click)="editMedicine(entry); $event.stopPropagation()">
                              {{ entry.medicine.name | slice:0:10 }}
                          </span>
                          <span *ngIf="entry.isAppointment" (click)="editAppointment(entry); $event.stopPropagation()">
                                {{ entry.appointment.specialty }}
                          </span>
                      </div>
                  </div>
                  <button id="addPopup" type="button" class="btn btn-sm" (click)="newPopup(day); $event.stopPropagation()">
                      +
                  </button>
              </div>
          </div>
      </div>
  
      <div class="pop-up" *ngIf="showForm">
        <div class="toggle-buttons">
            <button class="toggle-btn" 
                    [ngClass]="{'bi-1-circle-fill': isSlide1Visible, 'bi-1-circle': !isSlide1Visible}" 
                    (click)="toggleSlide(1)">
            </button>
            <button class="toggle-btn" 
                    [ngClass]="{'bi-2-circle-fill': !isSlide1Visible, 'bi-2-circle': isSlide1Visible}" 
                    (click)="toggleSlide(2)">
            </button>
          </div>
          
          <form [formGroup]="medicationForm">
              <div class="d-flex justify-content-between mt-3 buttons">
                  <button type="button" class="btn btn-sm" id="save" *ngIf="isSlide1Visible" (click)="saveSlide1()">
                      <i class="bi bi-floppy"></i>
                  </button>
                  <button type="button" class="btn btn-sm" id="save" *ngIf="!isSlide1Visible" (click)="saveSlide2()">
                      <i class="bi bi-floppy"></i>
                  </button>
                  <button type="button" class="btn btn-sm" (click)="showForm = false" id="cancel">
                      <i class="bi bi-x-circle"></i>
                  </button>
              </div>
              
              <div *ngIf="isSlide1Visible" class="slide1">
                  <h1>{{'calendar.header1' | translate}}</h1>
                  <div class="row">
                      <div class="col-6 leftSide">
                          <div class="extras">
                              <div class="extra-row">
                                  <label for="name" class="form-label mt-2">{{'calendar.name' |translate}}</label>
                                  <div class="search-container" (click)="onSearchContainerClick($event)">
                                      <input id="name" formControlName="name" class="form-control" (input)="searchMedicine($event)" autocomplete="off"/>
                                      <div class="search-results" *ngIf="showSearchResults">
                                          <div class="result-item" *ngFor="let medicine of searchResults" [class.not-found]="medicine.name === 'Medication not available'" (click)="medicine.name !== 'Medication not available' ? selectMedicine(medicine) : null">
                                              {{ medicine.name }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="extra-row">
                                  <label for="form" class="form-label mt-2">{{'mymeds.form' | translate}}</label>
                                  <div class="form-container">
                                      <input id="form" formControlName="form" class="form-control" readonly (click)="showForms = medicineForms.length > 0"/>
                                      <div class="forms-dropdown" *ngIf="showForms && medicineForms.length > 0">
                                          <div class="form-item" *ngFor="let form of medicineForms" (click)="selectForm(form)">
                                              {{ form.form }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="extra-row">
                                  <label for="description" class="form-label mt-2">{{'mymeds.description' | translate}}</label>
                                  <textarea id="description" formControlName="description" maxlength="100" class="form-control"></textarea>
                              </div>
                              <div class="extra-row">
                                  <label for="startDate" class="form-label mt-2">{{'mymeds.startdate' | translate}}</label>
                                  <input id="startDate" formControlName="startDate" type="date" required class="form-control"/>
                              </div>
                              <div class="extra-row">
                                  <label for="endDate" class="form-label mt-2">{{'mymeds.enddate' | translate}}</label>
                                  <input id="endDate" formControlName="endDate" type="date" required class="form-control"/>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 rightSide">
                          <div class="extras">
                              <div class="extra-row">
                                  <label for="stock" class="form-label mt-2">{{'mymeds.stock' | translate}}</label>
                                  <input id="stock" formControlName="stock" type="number" required class="form-control" min="0"/>
                              </div>
                              <div class="extra-row">
                                  <label for="dosage" class="form-label mt-2">{{'mymeds.dosage' | translate}}</label>
                                  <div class="input-group">
                                    <input id="dosage" formControlName="dosage" type="number" class="form-control" min="0"/>
                                
                                    <span class="input-group-text" *ngIf="selectedDosageUnit">{{ selectedDosageUnit }}</span>
                              
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu" aria-labelledby="roleDropdown">
                                      <li><a class="dropdown-item" (click)="setDosageUnit('g')">{{'calendar.g' | translate}}</a></li>
                                      <li><a class="dropdown-item" (click)="setDosageUnit('ml')">{{'calendar.ml' | translate}}</a></li>
                                      <li><a class="dropdown-item" (click)="setDosageUnit('pieces')">{{'calendar.pieces' | translate}}</a></li>
                                    </ul>
                                  </div>
                                </div>
                              
                              <div class="extra-row">
                                  <label for="reminderTime" class="form-label mt-2">{{'mymeds.remindertime' | translate}}</label>
                                  <div class="input-group">
                                      <input id="reminderTime" formControlName="reminderTime" type="time" class="form-control"/>
                                      <button id="add" type="button" class="btn btn-sm" (click)="addReminder()">
                                          <i class="bi bi-plus fs-4"></i>
                                      </button>
                                  </div>
                              </div>
                              
                              <div *ngIf="reminders.length > 0">
                                  <ul class="reminder-list">
                                      <li *ngFor="let reminder of reminders; let i = index" class="reminder-item">
                                          {{ reminder }}
                                          <button type="button" class="btn btn-sm btn-danger" id="removeReminder" (click)="removeReminder(i)">
                                              <i class="bi bi-x-circle"></i>
                                          </button>
                                      </li>
                                  </ul>
                              </div>
                              <div class="extra-row">
                                  <label for="restock" class="form-label mt-2">{{'mymeds.restockdate' | translate}}</label>
                                  <input id="restock" formControlName="restock" type="date" class="form-control"/>
                              </div>
                              <div class="extra-row">
                                  <label for="restockReminder" class="form-label mt-2">{{'calendar.restockreminder' | translate}}</label>
                                  <input id="restockReminder" formControlName="restockReminder" type="number" min="0" class="form-control"/>
                              </div>
                              <div class="extra-row">
                                  <label for="repeat" class="form-label mt-2">{{'calendar.repeat' | translate}}</label>
                                  <input id="repeat" formControlName="repeat" type="number" class="form-control" min="0"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div *ngIf="!isSlide1Visible" class="slide2">
                  <h1>{{'calendar.header2' | translate}}</h1>
                  <div class="row">
                      <div class="col-12">
                          <div class="extras">
                            <div class="extra-row">
                                <label for="doctorname" class="form-label mt-2">{{'calendar.doctorname' | translate}}</label>
                                <input id="doctorname" formControlName="doctorname" required class="form-control"/>
                            </div>
                            <div class="extra-row">
                                <label for="category" class="form-label mt-2">{{'calendar.category' | translate}}</label>
                                <input id="category" formControlName="category" required class="form-control"/>
                            </div>
                              <div class="extra-row">
                                  <label for="description2" class="form-label mt-2">{{'calendar.description' | translate}}</label>
                                  <textarea id="description2" formControlName="description2" maxlength="300" class="form-control"></textarea>
                              </div>
                              <div class="extra-row">
                                  <label for="appointment" class="form-label mt-2">{{'calendar.appointment' | translate}}</label>
                                  <input id="appointment" formControlName="appointment" type="datetime-local" required class="form-control"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>