<div class="parent">
  <div class="container">
    <form [formGroup]="resetPasswordForm">
      <h1>Reset password</h1>
      <div class="mb-3">
        <div class="extras">
          <div class="extra-row">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" 
                   placeholder="Enter your email" formControlName="email">
          </div>
        </div>
      </div>
      <div class="button-container">
        <button id="send" (click)="requestReset()">Send Reset Link</button>
        <button routerLink="/signin">Back to Login</button>
      </div>
    </form>
  </div>
</div>